/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Color-Scheme */

* {
    BG:    #000000ff;
    BGA:   #FF5250ff;
    FG:    #22ff22ff;
    BDR:   #383838ff;
    SEL:   #FF5250ff;
    UGT:   #FF5250ff;
	IMG:   #fdd835ff;
	ON:    #43a047ff;
	OFF:   #FF5250ff;
}
